Client-JobQ/Service References/JobQService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JobQ" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JobQ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Machine">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigValues" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Machine" nillable="true" type="tns:Machine" />
  <xs:complexType name="Job">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arguments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cmd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatingMachine" nillable="true" type="tns:Machine" />
      <xs:element minOccurs="0" name="CreatingMachineId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatingUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateExecuted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExecutionMachine" nillable="true" type="tns:Machine" />
      <xs:element minOccurs="0" name="ExecutionMachineId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Job" nillable="true" type="tns:Job" />
  <xs:complexType name="ArrayOfJob">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Job" nillable="true" type="tns:Job" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJob" nillable="true" type="tns:ArrayOfJob" />
  <xs:complexType name="ArrayOfMachine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Machine" nillable="true" type="tns:Machine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachine" nillable="true" type="tns:ArrayOfMachine" />
</xs:schema>